@font-face {
    font-family: RobotoCondensed;
    src: url(asserts/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: EconomicaBold;
    src: url(asserts/economica-bold.ttf);
}

